:root {
    --colo: #00aaff;
    --colour: #0055ff;
    --gradient: linear-gradient(90deg, var(--colo), var(--colour));
}

* {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #333;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--gradient);
    padding: 3rem 7%;
}

section {
    padding: 2rem 7%;
}

.main-cont {
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.heading {
    color: transparent;
    background: var(--gradient);
    padding: 0 1rem;
    padding-top: 2.5rem;
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: .5rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: var(--gradient);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 7%;
    border-bottom: .1rem solid rgba(0,0,0,.1);
    position: relative;
    z-index: 1000;
}

header .icon {
    font-size: 2.5rem;
    color: var(--colo);
    font-weight: bold;
}

header .icon span {
    color: var(--colour);
}

header .navigation a {
    margin-left: 2rem;
    font-size: 2rem;
    color: #333;
}

header .navigation a:hover {
    color: var(--colour);
}

#menu {
    font-size: 2.5rem;
    padding: .5rem 1rem;
    border-radius: .3rem;
    border: .1rem solid rgba(0,0,0,.2);
    cursor: pointer;
    display: none;
}

.home-page {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.home-page .content {
    flex: 1 1 40rem;
}

.home-page .image {
    flex: 1 1 40rem;
}

.home-page .image img {
    width: 100%;
}

.home-page .content h3 {
    background: var(--gradient);
    font-size: 4rem;
}

.home-page .content p {
    padding: .5rem 0;
    font-size: 1.7rem;
    color: #666;
}

.courses-we-offer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.courses-we-offer .box {
    flex: 1 1 30rem;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    padding: 1rem;
    position: relative;
}

.courses-we-offer .box img {
    height: 20rem;
    width: 100%;
}

.courses-we-offer .box .amount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    padding: .5rem 1rem;
    background: var(--colour);
    color: #fff;
    border-radius: .5rem;
}

.courses-we-offer .box .stars i {
    color: var(--colo);
    font-size: 1.5rem;
    padding: 1rem 0;
}

.courses-we-offer .box h3 {
    color: var(--colour);
    font-size: 2.5rem;
}

.courses-we-offer .box p {
    color: #666;
    font-size: 1.5rem;
    padding: .5rem 0;
}

.courses-we-offer .icons {
    display: flex;
    justify-content: space-between;
    border-top: .1rem solid rgba(0,0,0,.1);
    margin-top: 1rem;
    padding: .5rem;
    padding-top: 1rem;
}

.courses-we-offer .icons p {
    color: #666;
    font-size: 1.3rem;
}

.courses-we-offer .icons p i {
    padding-right: .4rem;
    color: var(--colour);
}

.tutors {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.tutors .box {
    flex: 1 1 23rem;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: center;
}

.tutors .box img {
    height: 10rem;
    width: 10rem;
    margin: .5rem 0;
    border-radius: 50%;
    object-fit: cover;
}

.tutors .box h3 {
    color: var(--colo);
    font-size: 2.5rem;
}

.tutors .box span {
    color: var(--colour);
    font-size: 2rem;
}

.tutors .box p {
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.tutors .box .share a {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    background: var(--colour);
    border-radius: .5rem;
    margin: .3rem;
    color: #fff;
}

.tutors .box .share a:hover {
    background: var(--colo);
}

.fees {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.fees .box {
    flex: 1 1 30rem;
    text-align: center;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
}

.fees .box h3 {
    font-size: 2.5rem;
    color: #333;
    padding: 1.5rem 0;
}

.fees .box .amount {
    font-size: 4.5rem;
    color: #fff;
    padding: 1rem 0;
    background: var(--gradient);
    font-weight: bold;
}

.fees .box .amount span {
    font-size: 2rem;
}

.fees .box ul {
    border-bottom: .1rem solid rgba(0,0,0,.1);
    padding: 1rem 0;
    list-style: none;
}

.fees .box ul li {
    padding: .7rem 0;
    font-size: 1.7rem;
    color: #666;
}

.fees .box .btn {
    margin: 2rem 0;
}

.feedback {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.feedback .box {
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    padding: 1rem;
    flex: 1 1 30rem;
}

.feedback .box .student {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback .box .student .student-info {
    display: flex;
    align-items: center;
}

.feedback .box .student i {
    font-size: 6rem;
    color: var(--colour);
    opacity: .5;
}

.feedback .box .student .student-info img {
    border-radius: 50%;
    object-fit: cover;
    height: 7rem;
    width: 7rem;
    margin-right: 1.5rem;
}

.feedback .box .student .student-info h3 {
    font-size: 2rem;
    color: #333;
}

.feedback .box .student .student-info span {
    font-size: 1.5rem;
    color: var(--colour);
}

.feedback .box .text {
    padding: 1rem 0;
    font-size: 1.6rem;
    color: #666;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .image {
    flex: 1 1 35rem;
}

.contact .image img {
    width: 100%;
}

.contact form {
    flex: 1 1 50rem;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    padding: 2rem;
}

.contact form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form .box,
.contact form textarea {
    width: 100%;
    padding: 1rem;
    margin: .7rem 0;
    font-size: 1.7rem;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    text-transform: none;
    color: #333;
}

.contact form .inputBox input:focus,
.contact form .box:focus,
.contact form textarea:focus {
    border-color: var(--colour);
}

.contact form .inputBox input {
    width: 49%;
}

.contact form textarea {
    height: 20rem;
    resize: none;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-main-cont .box {
    flex: 1 1 20rem;
}

.footer .box-main-cont .box h3 {
    font-size: 2.5rem;
    color: var(--colo);
    padding: .7rem 0;
}

.footer .box-main-cont .box p {
    font-size: 1.5rem;
    color: #666;
    padding: .7rem 0;
}

.footer .box-main-cont .box a {
    display: block;
    font-size: 1.5rem;
    color: #666;
    padding: .7rem 0;
}

.footer .box-main-cont .box a:hover {
    color: var(--colour);
}

.footer .box-main-cont .box p i {
    padding-right: .5rem;
    color: var(--colour);
}

.footer .credit {
    font-size: 2rem;
    margin-top: 1rem;
    padding: 1rem;
    padding-top: 2rem;
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    color: #666;
}

.footer .credit span {
    color: var(--colour);
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    body {
        padding: 1.5rem;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    #menu {
        display: initial;
    }

    header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navigation.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navigation a {
        font-size: 2.5rem;
        display: block;
        margin: 2rem 0;
        text-align: center;
    }

    .contact form .inputBox input {
        width: 100%;
    }
}

@media (max-width:400px) {
    html {
        font-size: 50%;
    }
}
